<div>
  <%= f.label :name, "Nome da carteira", class: "form-label" %>
  <%= f.text_field :name, value: selected_name, placeholder: "Ex.: Reserva, Casa, Viagens", class: "form-input" %>
  <p class="form-hint">Busque por parte do nome para localizar a carteira mais rapidamente.</p>
</div>
